<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/error.css">
    <title>Oops!!</title>
</head>
<body>
<img src="https://cdni.iconscout.com/illustration/premium/thumb/opps-4344463-3613891.png">

<div class="error"  >
    <div th:if="${error}!= null">
        <p th:text="${error}"></p>
        <form action="/poll" method="get"  >
            <input class="submit" type="submit"  value="Polls" />
        </form>
    </div>
</div>

</body>
</html>