<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../static/css/question_answer.css}" href="../static/css/question_answer.css" >
    <title>Questions</title>
</head>
<body>
<form th:action="@{/results}" th:method="GET">
    <div th:each="question : ${questions}">
        <input type="hidden" name="questionId" th:value="${question.getId()}">

        <p class="question" th:text="${question.getId()} + '. ' + ${question.getText()}"></p>

        <div th:each="answer : ${answers}">
            <div th:if="${question.getId()} == ${answer.getQuestion_id()}">

                <input class="answer" type="radio" th:name="marked+${question.id}" th:value="${answer.getWeight()}"
                          th:text="${answer.getText()}" >

            </div>
        </div>
    </div>
    <input type="submit" name="done" class="creat" value="Done"/>

</form>
</body>
</html>